<h2 class="mt-5 mb-4">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="ui fluid input my-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="ui fluid input my-3">
    <% password_placeholder = "Password (leave blank if you don't want to change it) #{@minimum_password_length} characters minimum" if @minimum_password_length %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: password_placeholder  %>
  </div>

  <div class="ui fluid input my-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
  </div>

  <div class="ui fluid input my-3">
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password (we need your current password to confirm your changes)" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "ui button my-4" %>
  </div>
<% end %>

<h3 class="my-4">Unhappy?</h3>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "ui negative button" %>

<%= link_to "Back", :back, class: "ui secondary button mt-4" %>
