<h2 class="mt-5 mb-4">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="ui fluid input my-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="ui fluid input my-3">
    <% password_placeholder = "Password (leave blank if you don't want to change it) #{@minimum_password_length} characters minimum" if @minimum_password_length %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: password_placeholder  %>
  </div>

  <div class="ui fluid input my-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "ui button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
