<% if current_user == @user %>
    <% if @user.admin? %>
        <h2 class="mt-5 mb-3">Admin: <span class="text-muted"><%= @user.email %></span></h2>
        <%= link_to 'New Item', new_item_path, class: "ui secondary button"  %>
        <%= link_to 'New Category', new_category_path, class: "ui secondary button"  %>
        <%= link_to "View Users", users_path, class: "ui secondary button" %>
        <%= link_to "View Pending Orders", pending_orders_path, class: "ui secondary button" %>
        <%= link_to "View Delivered Orders", delivered_orders_path, class: "ui secondary button" %>
        <%= link_to "View Reports", orders_report_path, class: "ui secondary button" %>
        <%= link_to "Edit Account", edit_account_path, class: "ui secondary button" %>

    <% elsif !@user.admin? && @user.clerk? %>
        <h2 class="mt-5 mb-3">Staff: <span class="text-muted"><%= @user.email %></span></h2>
        <%= link_to "View Pending Orders", pending_orders_path, class: "ui secondary button" %>
        <%= link_to "View Delivered Orders", delivered_orders_path, class: "ui secondary button" %>
        <%= link_to "Edit Account", edit_account_path, class: "ui secondary button" %>
    <% else %>
    <div class="d-flex" style="align-items: center;">
        <h2 class="mt-4"><%= current_user.email %></h2>
        <%= link_to edit_account_path do %>
            <i class="fas fa-edit text-muted mt-4 ms-3  " style="font-size: 18px;"></i>
        <% end %>
    </div>
    <hr>
    <% end %>
<% else %>
    <h2 class="mt-5"><%= "Admin: " if @user.admin? %><%= "Staff: " if @user.clerk? && !@user.admin %> <span class="text-muted"><%= @user.email %></span></h2>
<% end %>

<h2 class="mt-5">Past Orders</h2>
<% if @user.orders.count == 0 %>
    <p class="lead text-muted mt-4">No Orders Yet!</p>
<% else %>
    <%= render 'orders/list', orders: @user_orders %>
    <div class="my-5 pb-5">
        <%= will_paginate @user_orders, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
    </div>
<% end %>

<% if @user.id == current_user.id && user_signed_in? %>

<% end %>