<% if current_user == @user %>
    <% if @user.admin? %>
        <h2 class="mt-5 mb-3">Admin: <span class="text-muted"><%= @user.email %></span></h2>
        <%= link_to 'New Item', new_item_path, class: "ui button"  %>
        <%= link_to 'New Category', new_category_path, class: "ui button"  %>
        <%= link_to "View Users", users_path, class: "ui button" %>
        <%= link_to "View Orders", orders_path, class: "ui button" %>
        <%= link_to "View Reports", orders_report_path, class: "ui button" %>
        <%= link_to "Edit Account", edit_account_path, class: "ui button" %>

    <% elsif !@user.admin? && @user.clerk? %>
        <h2 class="mt-5 mb-3">Staff: <span class="text-muted"><%= @user.email %></span></h2>
        <%= link_to "All Orders", orders_path, class: "ui button" %>
        <%= link_to "Edit Account", edit_account_path, class: "ui button" %>
    <% else %>
        <h2 class="mt-5"><%= current_user.email %></h2>
        <hr>
        <%= link_to "Edit Account", edit_account_path, class: "ui button" %>
    <% end %>
<% else %>
    <h2 class="mt-5"><%= "Admin: " if @user.admin? %><%= "Staff: " if @user.clerk? && !@user.admin %> <span class="text-muted"><%= @user.email %></span></h2>
<% end %>

<h2 class="mt-5">Past Orders</h2>
<hr>
<% if @user.orders.count == 0 %>
    <p class="lead text-muted mt-4">No Orders Yet!</p>
<% else %>
    <%= render 'orders/list', orders:@user.orders %>
<% end %>

<% if @user.id == current_user.id && user_signed_in? %>

<% end %>