<table class="ui celled table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Date</th>
      <th>User</th>
      <th>Bill Amount</th>
      <th>Delivery Status</th>
      <% if current_user.admin? || current_user.clerk? %>
        <th>Update Delivery Status</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
    <tr>
      <td><%= link_to "##{order.id}", "/orders/#{order.id}" %></td>
      <td><%= "#{order.created_at.day}/#{order.created_at.month}/#{order.created_at.year}" %></td>
      <td><%= order.user_email %></td>
      <td>₹ <%= order.total_price %></td>
      <td><%= order.delivered ? "Delivered" : "Pending" %></td>
      <% if current_user.admin? || current_user.clerk? %>
        <td><%= link_to order.delivered ? "Mark as Pending" : "Mark as Delivered", order.delivered ? order_not_deliver_path(order.id) : order_deliver_path(order.id), method: :put, style: "text-decoration: none" %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
