<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
  <div class="ui message">
    <div class="header">
      <%= pluralize(item.errors.count, "error") %> prohibited this category from being saved:
    </div>
    <ul class="list">
      <% item.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <div class="ui fluid input my-3">
    <%= form.text_field :name, class: "ui fluid input", placeholder: "Name" %>
  </div>  

  <div class="ui fluid input my-3">
    <%= form.number_field :price, placeholder: "Price" %>
  </div>

  <div class="ui form my-3">
    <%= form.text_area :description, placeholder: "Description" %>
  </div>

  <div class="field">
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
    <div class="ui checkbox">
      <%= cb.check_box %>
      <label class="me-3"><%= cb.text %></label>
    </div>
      <% end %>
  </div>

  <div class="mt-4">
    <%= form.file_field :main_image %>
  </div>

  <div class="ui checkbox mt-3">
    <%= form.check_box :active %>
    <%= form.label :active %>
  </div>
  
  <div class="actions">
    <%= form.submit class: "ui secondary button mt-4" %>
  </div>
<% end %>
