<div class="ui cards">
  <% items.each do |item| %>
    <div class="card my-3 me-4">
      <div class="content">
        <div class="header"><%= item.name %></div>
        <div class="meta">₹ <%= item.price %></div>
        <div class="description">
          <%= item.description %>
        </div>
        <% item.category.each_with_index do |category, index|%>
          <%= link_to "#{category.name}", category_path(category), class: "ui label mt-3", style: "text-decoration: none" %>
        <% end %>
      </div>
      
      <%if user_signed_in?%>
        <% is_add_cart_action = item.cart_action(current_user.id) == "Add to" %>
        <%=link_to "#{item.cart_action(current_user.id)} Cart", is_add_cart_action ? add_to_cart_path(item) : remove_from_cart_path(item), method: :put, class: is_add_cart_action ? "ui button" : "ui negative button" %>
      <%end%>
    </div>
  <% end %>
</div>