<div class="ui cards">
  <% items.each do |item| %>
    <div class="card my-3 me-4">
      <%= image_tag item.main_image, class: "image", style: "height: 200px" %>
      <div class="ui black label" style="position: absolute; right: 0; margin-top: 10px; margin-right: 10px; font-size: 13px;">₹ <%= item.price %></div>
      <div class="content">
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to item_path(item), method: :delete do %>
          <i class="right floated fas fa-times icon" style="text-decoration: none; color: #aaa;"></i>
          <% end %>
          <%= link_to edit_item_path(item) do %>
            <i class="right floated fas fa-edit icon" style="text-decoration: none; color: #aaa;"></i>
          <% end %>
        <% end %>
        <div class="header"><%= item.name %></div>
        <div class="meta">
        <% item.category.each_with_index do |category, index|%>
          <%= link_to "#{category.name}", category_path(category), class: "mt-3", style: "text-decoration: none" %><%= ", " if index < item.category.count - 1 %>
        <% end %>
      </div>
        <div class="description">
          <%= "#{item.description[0, 100]}#{"..." if item.description.length > 100}" %>
        </div>
        
      </div>

      <% is_deactivated = !item.active %>
      <% item.category.each_with_index do |category, index|%>
          <% if !category.active %>
            <% is_deactivated = true %>
          <% end %>
        <% end %>
      
      <%if user_signed_in?%>
      <% if is_deactivated %>
        <div class="ui button disabled">
          Not Available
        </div>
      <% else %>
        <% is_add_cart_action = item.cart_action(current_user.id) == "Add to" %>
        <%=link_to "#{item.cart_action(current_user.id)} Cart", is_add_cart_action ? add_to_cart_path(item) : remove_from_cart_path(item), method: :put, class: is_add_cart_action ? "ui button" : "ui button" %>
      <% end %>
      <%end%>
    </div>
  <% end %>
</div>