<p id="notice"><%= notice %></p>

<h2 class="mt-5"><%= @item.name %></h2>

<p class="lead mt-3 text-muted">
  <%= @item.description %>
</p>

<p class="lead">
  ₹ <%= @item.price %>
</p>

<div class="mb-3">
  <% @item.category.each_with_index do |category, index|%>
    <%= link_to "#{category.name}", category_path(category), class: "ui black label", style: "text-decoration: none" %>
  <% end %>
</div>

<%if user_signed_in?%>
  <%=link_to "#{@cart_action} Cart", @cart_action == "Add to" ? add_to_cart_path(@item) : remove_from_cart_path(@item), method: :put, class: "ui button" %>
<%end%>

<%= link_to 'Back', items_path, class: "ui button" %>

<% if user_signed_in? &&  current_user.admin? %>
<hr>
  <%= link_to 'Edit', edit_item_path(@item), class: "ui button" %>
  <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' }, style: "text-decoration: none", class: "ui negative button" %>
<% end %>
