<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong><%= "Category".pluralize(@item.category.length)%>:</strong>
  <% @item.category.each_with_index do |category, index|%>
    <%= "#{category.name}" %><%= " | " if index != @item.category.length - 1 %>
  <% end %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
