<div class="ui cards">
  <% items.each do |category| %>
  <div class="ui card">
    <a class="image" href="#">
      <%= image_tag category.main_image, style: "height: 200px" %>
    </a>
    <div class="content">
      <%= link_to category.name, category, style: "text-decoration: none; font-family: 'Montserrat'; font-size: 17px" %>
      <div class="meta">
        <a><%= pluralize(category.items.count, "item") %></a>
      </div>
    </div>
    <% if user_signed_in? && current_user.admin? %>
    <div class="extra content">
      <%= link_to 'Edit', edit_category_path(category), style: "text-decoration:none" %> | 
      <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, style: "text-decoration: none" %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
