<p id="notice"><%= notice %></p>

<h1 class="mt-5 mb-4"><%= @category.name %></h1>

<%= render 'items/list', items:@category.items %>

<br>

<%= link_to 'Edit', edit_category_path(@category), class: "ui button" %>
<%= link_to 'Back', categories_path, class: "ui button"  %>
