<% cart_items = get_cart_items %>
<div class="panel">
  <div class="header">
    <p class="lead">My Cart (<%=current_user.cart_count%>)</p>
    <i id="toggle-panel" class="fas fa-chevron-up"></i>
  </div>
  <div id="items" class="mt-3 d-none">
    <% if cart_items.count > 0 %>
      <% cart_items.each do |cart_item| %>
        <div class="item">
          <div class="left">
            <div class="name" style="font-size: 17px;"><%= cart_item[:item].name%> (x<%= cart_item[:quantity]%>)</div>
            <div id="item-actions" class="mt-2 d-flex ui labels">
              <%=link_to increase_quantity_cart_path(cart_item[:item]), method: :put, title: "Increase 1" do %>
                <i class="fas fa-plus ui label me-1"></i>
              <% end %>
              <%=link_to decrease_quantity_cart_path(cart_item[:item]), method: :put, title: "Decrease 1" do %>
                <i class="fas fa-minus ui label me-3"></i>
              <% end %>
              <%=link_to remove_from_cart_path(cart_item[:item]), method: :put, title: "Remove Item" do %>
                <i class="fas fa-times ui orange label"></i>
              <% end %>
            </div>
          </div>
          <div class="price text-muted">
            ₹ <%= cart_item[:item].price * cart_item[:quantity].to_i %>
          </div>
        </div>
        <hr>
      <% end %>
    <% else %>
        <p class="lead text-muted pt-3">Add Items to Purchase</p>
    <% end %>
  </div>
  <div id="panel-footer" class="footer d-none">
    <p class="lead mb-3 pt-3" style="font-size: 20px;">Total Price: ₹ <%= cart_items.reduce(0)  {|sum, cart_item| sum + (cart_item[:item].price * cart_item[:quantity].to_i) } %></p>
    <% order_create_params = [] %>
    <% cart_items.each do |cart_item| %>
      <% order_create_params.push({:id => cart_item[:item].id, :quantity => cart_item[:quantity]}) %>
    <% end %>
    <%= button_to "Proceed to Checkout", order_path, params: {items: order_create_params.to_json}, class: "ui secondary button d-none", id: "checkout-button", style: "width: 100%"%>
  </div>
</div>
